@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700);

body {
  background: black;
}

#logo {
  font-family: 'Cabin Sketch', cursive;
  font-size: 30px;
  color: white;
  text-align:center;
}