
body {
  background: black;
}

#logo {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align:center;
  margin-top: 22%;
  animation: modal 40s 0.5s backwards;
  visibility: hidden;
  opacity: 0;
}

span {
  animation: modal 23s 0.5s backwards;
  visibility: hidden;
  opacity: 0;
  color: white;
}

h3{
  font-family: 'Roboto', sans-serif;
  left:28%;
  animation: modal 20s 25s backwards;
  visibility: hidden;
  opacity: 0;
  color: white;
  position: absolute;
}

@keyframes modal {
    100% {
        visibility: visible;
        opacity: 1;
       
    }
}

#audifonos {
	color:white;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
  font-weight: 300;
	text-align:center;
	opacity:0.3;
	margin-top:22%;
}

#segundo-texto {
  text-align: center;
  margin-top: 20%;
}

#map{
	color:white;
	position: absolute;
	display: block;
	width: 1200;
	height: 1000;
}

/*Botón*/

.button {
    position: absolute;
    color: #fff;
    border: none;
    font-size: 16px;
    text-decoration: none;
    z-index: 5;
    background: #0D8ED5;
    margin: 4px 2px;
    padding: 20px;
    display: inline-block;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    right: 45.5%;
    top: 75%;
    cursor: pointer;
    
    animation: modal 0.2s 30s forwards;
    visibility: hidden;
    opacity: 0;
}

#cerrar:checked + label, #cerrar:checked ~ .introduccion {
    display: none;
}