body {
	background: #242426;
}
#map{
	position: absolute;
	height: 100%;
	width: 60%;
	z-index: 1;
}

#titulo{
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   color:white;
   position: absolute;
   background:black;
   opacity: 0.8;
   margin-left: 68%;
   width: 400px;
   text-align: center;
   margin-top: 20%;
}

#year-value{
	z-index: 100;
	color:white;
	position:absolute;
	font-family: 'Roboto', sans-serif;
	margin-left: 1%;
	margin-top: 42%;
	font-size: 30px;

}

#mensaje{
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	color: white;
	opacity: 0.5;
	position: absolute;
	margin-left: 70%;
	margin-top: 25%;
	
}

#slider-container{
	position: absolute;
	width: 60%;
	padding: 10px 0px 10px 0px;
	top: 95%;
	z-index: 2;
	background-color: rgba(0,0,0,0.4);
}

#slider{
	width: 99%;
}

#PIB_Chart{
	position: relative;
	width: 39%;
	height: 335px;
	float:right;
}

#pop_chart{
	width: 39%;
	height: 250px;
	position: relative;
	float: right;
	margin-left: 40%;
}

#damage_chart{
	margin-left: 40%;
	width: 39%;
	height: 250px;
	position: relative;
	float: right;
}

