body {
  background: black;
}

#slider{
	margin: auto;
	width: 70%;
	position: relative;
	left: auto;
	z-index: 2;
  margin-top: 40%;
}


#map{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70%;
  height: auto;
  z-index: 1;
}
