
#map{
	position: absolute;
	height: 100%;
	width: 60%;
	z-index: 1;
}

#slider-container{
	position: absolute;
	width: 60%;
	padding: 10px 0px 10px 0px;
	top: 95%;
	z-index: 2;
	background-color: rgba(0,0,0,0.4);
}

#slider{
	width: 99%;
}

#PIB_Chart{
	position: relative;
	width: 39%;
	height: 20%;
	float:right;
}

#pop_chart{
	width: 50%;
	height: 600px;
	position: relative;
	margin-top: 1%;
	float: right;
	margin-left: 40%;
}

#damage_chart{
	margin-left: 40%;
	width: 40%;
	height: 600px;
	position: relative;
	float: right;
}

